.PlantList {
  margin: 2%;
}

.PlantList__sort {
}

.PlantList__sort--btn {
  display: inline-block;
  border: none;
  border-style: hidden;
  text-decoration: none;
  background: #eec643;
  color: #000000;
  font-size: large;
  height: 3em;
  margin: 0.5em;
  border-radius: 15px;
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .PlantList__sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .PlantList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 25vh);
  }
}
