.PlantList {
  margin: 2%;
}

.PlantList__sort--btn {
  width: auto;
  height: 10vh;
  padding: 2vh;
  margin: 2vh;
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .PlantList__sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .PlantList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 25vh);
  }
}
