.plantItem {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 2px rgba(88, 88, 88, 0.664))
    drop-shadow(-1px -1px 0 rgba(88, 88, 88, 0.664));
  margin: 5% 10%;
}

.PlantItem__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.692);
}

.PlantItem__text a {
  text-decoration: none;
}

.PlantItem__name {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}

.PlantItem__text p {
  padding: 0 15%;
  font-style: italic;
}

.PlantItem__btn {
  font-size: large;
  font-weight: bold;
  border-radius: 50%;
  font-weight: bold;
  color: var(--cultured);
  position: absolute;
  top: -5%;
  right: -5%;
  /* width: 20%; */
}

.PlantItem__save {
  background-color: var(--oxford-blue);
}

.PlantItem__remove {
  background-color: var(--maize-crayola);
  color: black;
}

.PlantItem__btnDiv {
  width: 60%;
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .plantItem {
    margin: 4%;
  }
}
