#circle {
  /* background-color: azure */
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  /* duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: 2s ease-in-out 0s infinite alternate-reverse running circle;
}

#square {
  /* background-color:cadetblue; */
  width: 25px;
  height: 25px;
  border: 5px solid limegreen;
  position: absolute;
  animation: 2s ease-in-out 0s infinite alternate-reverse forwards running square;
}

@keyframes circle {
0% {border-color:hsl(10,100,50); transform: scale(1)}
100% {border-color: rgb(255, 255, 255); transform: scale(1.5)}
}

@keyframes square {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
