:root {
  --maize-crayola: #efc743ff;
  --eerie-black: #141414ff;
  --cultured: #eef0f2ff;
  --blue-pantone: #0d21a1ff;
  --oxford-blue: #011638ff;
}
/* CSS HEX
https://coolors.co/efc743-141414-eef0f2-0d21a1-011638
*/
