a {
  color: olive;
}
a:hover {
  color: olivedrab;
  cursor: pointer;
}

/* CSS HEX
--magic-mint: #a0eec0ff;
--magic-mint-2: #8ae9c1ff;
--pistachio: #86cd82ff;
--forest-green-crayola: #72a276ff;
--dim-gray: #666b6aff;
https://coolors.co/a0eec0-8ae9c1-86cd82-72a276-666b6a
*/
