.Navbar {
  /* position: fixed; */
  background-color: var(--oxford-blue);
  height: 4vh;
  padding: 5px 0;
  z-index: 1;
}

.navElement {
  background-color: var(--oxford-blue);
  font-weight: bold;
  font-size: larger;
  padding: 0 5px;
  color: var(--cultured);
  text-decoration: none; /* no underline */
}

.NavLink:hover {
  background-color: var(--blue-pantone);
  color: var(--cultured);
}

.Navbar__appLinks {
  height: 100%;
  float: left;
}

.hamburger {
  display: none;
}
#toggle1 {
  display: none;
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .Navbar__externalLinks {
    height: 100%;
    float: right;
  }
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .hamburger {
    height: 4vh;
    /* margin: 10px; */
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
    float: right;
  }
  .hamburger div {
    background-color: var(--cultured);
    position: relative;
    width: 40px;
    height: 5px;
    margin: 0 1vh 1vh 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #toggle1:checked + .hamburger .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 1vh;
  }

  #toggle1:checked + .hamburger .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -1.5vh;
  }

  #toggle1:checked + .hamburger .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  #toggle1:checked ~ .Navbar__externalLinks {
    height: 50%;
  }

  /* Menu */
  .Navbar__externalLinks {
    position: relative;
    width: 100%;
    background-color: var(--oxford-blue);
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .Navbar__externalLinks a:first-child {
    margin-top: 2vh;
  }

  .Navbar__externalLinks a:last-child {
    margin-bottom: 2vh;
  }

  .dropdown {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
}
